
BODY {
	FONT-FAMILY: Arial; BACKGROUND-COLOR: BLACK;
}

#MainContainer
{
float:center;
margin-top:10px;
margin-left:20%;

}

#top
{
	float:center;

margin-left:15%;
width:1200px;
height:90px;
background-color:#000000;
text-align:center;
 border-style: groove; 
border-width :15px;
border-color:SteelBlue;
}

#title

{position:absolute;
text-align:center;

}


#centerCol
{
margin-left:5%;
margin-top:20px;
height:700px;
width:1500px;
text-align:left;

background-color:#000000;
 border-style: groove; 
border-width :15px;
border-color:SteelBlue;
}

#cent
{
 line-height: 0.5cm; 
float:left;
margin-top:0px;
padding:0px;
width:640px;
height:600px;
background-color:#000000;
  border-style: groove; 
border-width :15px;
border-color:yellow;
text-align:center;

}


#rightcol
{
float:left;
margin-top:0px;
text-align:center;
width:250px;
height:600px;
background-color:#000000;
 border-style: groove; 
border-width :15px;
border-color:SteelBlue;
}

#next{
ALIGN:BOTTOM;
border-width :25px;
border-color:white;
}



#bottom
{
display: block; 
position:relative;
width:98%;
height:0px;
background-color:#000000;
text-align:center;
margin-top:5%;
}




a:link { 
color: blue; 
font-size:120%;
background-color:black ;
text-decoration: none;


}

a:visited { 
color:blue; 
font-size:120%;
background-color: black;
text-decoration: none;


}

a:hover {
color: #33FFFF; 
background-color: black;
text-decoration: none;
} 

























